extends ../layout

block content
        .container
            .card.card-login.mx-auto.mt-5
                .card-header Change Password
                .card-body
                    .text-center.mb-4
                        h6 Change your password?

                    form(id="change-password-form", method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .form-label-group
                                input(type="password" id="currentPassword", name="currentPassword" class="form-control" placeholder="Current Password" required="required")
                                label(for="currentPassword") Current Password

                        .form-group
                            .form-label-group
                                input(type="password" id="newPassword", name="newPassword" class="form-control" placeholder="Password" required="required")
                                label(for="newPassword") New Password

                        .form-group
                            .form-label-group
                                input(type="password" id="confirmNewPassword", name="confirmNewPassword" class="form-control" placeholder="Password" required="required")
                                label(for="confirmNewPassword") Confirm New Password

                        button(class="btn btn-primary btn-block" type="submit") Change Password

