doctype html
html
    head
        include ../partials/head

    body.bg-dark
        .container
            .card.card-login.mx-auto.mt-5
                .card-header Reset Password
                .card-body
                    .text-center.mb-4
                        h4 Forgot your password?
                        p Enter your email address and we will send you instructions on how to reset your password.

                    form(method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .form-label-group
                                input(type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus")
                                label(for="inputEmail") Email address

                        a(class="btn btn-primary btn-block" href="index.html") Reset Password

                        .text-center
                            a(class="d-block small mt-3" href="/register") Register an Account
                            a(class="d-block small" href="/login") Login

        include ../partials/javascript

