doctype html
html
    head
        include ../partials/head

    body.bg-dark
        .container
            .card.card-login.mx-auto.mt-5
                .card-header Login
                .card-body
                    include ../partials/flash
                    form(id="login-form", method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .form-label-group
                                input(type="email" id="email", name="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus")
                                label(for="email") Email address

                        .form-group
                            .form-label-group
                                input(type="password" id="password", name="password" class="form-control" placeholder="Password" required="required")
                                label(for="password") Password
                        .form-group
                            .checkbox
                                label
                                    input(type="checkbox" value="remember-me")
                                    | Remember Password
                        button(class="btn btn-primary btn-block" type="submit") Login

                        .text-center
                            a(class="d-block small mt-3" href="/auth/register") Register an Account
                            a(class="d-block small" href="/auth/forgot-password") Forgot Password?

        include ../partials/javascript

