doctype html
html
    head
        include ../partials/head

    body.bg-dark
        .container
            .card.card-register.mx-auto.mt-5
                .card-header Register an Account
                .card-body
                    include ../partials/flash
                    form(id='signup-form', method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input(type="text" id="firstName" name="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus")
                                        label(for="firstName") First name
                                .col-md-6
                                    .form-group
                                        .form-label-group
                                            input(type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required="required" autofocus="autofocus")
                                            label(for="lastName") Last name

                        .form-group
                            .form-label-group
                                input(type="email" id="email" name="email" class="form-control" placeholder="Email address" required="required")
                                label(for="email") Email address

                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input(type="password" id="password" name="password" class="form-control" placeholder="Password" required="required")
                                        label(for="password") Password

                                .col-md-6
                                    .form-label-group
                                        input(type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" required="required")
                                        label(for="confirmPassword") Confirm Password

                        button(class="btn btn-primary btn-block" href="index.html", type="submit") Register

                        .text-center
                            a(class="d-block small mt-3" href="/login") Login
                            a(class="d-block small" href="/forgot-password") Forgot Password?

        include ../partials/javascript