doctype html
html
    head
        include ../partials/head

    body.bg-dark
        .container
            .card.card-login.mx-auto.mt-5
                .card-header Reset Password
                .card-body
                    include ../partials/flash
                    .text-center.mb-4
                        h4 Reset your password?

                    form(id="reset-password-form", method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .form-label-group
                                input(type="password" id="newPassword", name="newPassword" class="form-control" placeholder="Password" required="required")
                                label(for="newPassword") New Password

                        .form-group
                            .form-label-group
                                input(type="password" id="confirmNewPassword", name="confirmNewPassword" class="form-control" placeholder="Password" required="required")
                                label(for="confirmNewPassword") Confirm New Password

                        button(class="btn btn-primary btn-block" type="submit") Reset Password

                        .text-center
                            a(class="d-block small mt-3" href="/register") Register an Account
                            a(class="d-block small" href="/login") Login

        include ../partials/javascript

